body {
    background: blueviolet;
    background-image: image-set("img/fundo.png");

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color
}

legend{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 1000;
    color:#000000;
}

label{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color:#000000;
}

#vtarifa{
    border-radius: 250px 250px 250px 250px;

}
#vklwH{
    border-radius: 250px 250px 250px 250px;

}
#valor{
    border-radius: 250px 250px 250px 250px;

}

button{
    border-radius: 10px 10px 10px 10px;

}